Welcome to the flight booker.
<br>
<br>
<%= form_with model: @flight, method: :get do |f|  %>
  Departing Airport: <%= select_tag(:departure_airport_id, options_for_select(@airport_options)) %> <br>
  Arriving Airport:   <%= select_tag(:arrival_airport_id, options_for_select(@airport_options)) %> <br>
  Number of Passengers: 
  <select name="passenger_capacity">
    <% 4.times do |i| %>
      <option value = "<%=i + 1%>" ><%=i + 1%></option>
    <% end %>
  </select>
  <br>
  Date:<%= select_tag(:date, options_for_select(@dates)) %> <br>
  <%= f.submit "Search Flights"%><br>
<% end %>
  
<br>
<br>
<br>
<% @flights.each do |flight| %>
  Flight from <%= flight.departing_airport.airport_code %> to <%= flight.arriving_airport.airport_code%> on <%= flight.departure.to_date %>.
  <br>
  Leaves from <%= flight.departing_airport.airport_name %> at <%= flight.departure.to_fs(:long_ordinal) %>, and arrives at <%= flight.arriving_airport.airport_name %> <%= flight.flight_length%> hours later.
  <br>
  <%= form_with model: @booking do |f| %>
    <%#= f.hidden_field :passengers, :value => %>
    <%= f.submit "Book Flight" %>
  <% end %>
<% end %>